.custom-card {
  color: #fff;
  position: relative;
  width: 14.5em;
  height: 15.5em;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-left: 22px;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14em;
  height: 15em;
  z-index: 2;
  background: rgba(35, 71, 247, 0.8);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid rgba(35, 71, 247, 0.7);
  padding: 5px;
}

.bg h6 {
  font-size: 1em;
}
.bg strong,
span,
li {
  font-size: 0.6em;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 14em;
  height: 15em;
  border-radius: 50%;
  background-color: #003cff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@media (max-width: 1400px) {
  .custom-card {
    width: 13.5em;
    height: 14em;
  }
  .bg {
    width: 13em;
    height: 13.5em;
  }
  .bg h6 {
    font-size: 1.2em;
  }
  .bg strong,
  span,
  li {
    font-size: 0.9em;
  }
  .blob {
    width: 12.5em;
    height: 12.5em;
  }
}

@media (max-width: 1024px) {
  .custom-card {
    width: 12em;
    height: 13em;
    margin: 15px;
    margin-left: 0;
  }
  .bg {
    width: 11.5em;
    height: 12em;
  }
  .bg h6 {
    font-size: 1em;
  }
  .bg strong,
  span,
  li {
    font-size: 0.7em;
  }
  .blob {
    width: 11em;
    height: 12em;
  }
}

@media (max-width: 900px) {
  .custom-card {
    width: 12.5em;
    height: 13em;
  }
  .bg {
    width: 12em;
    height: 12.5em;
  }
  .bg h6 {
    font-size: 0.7em;
  }
  .bg strong,
  span,
  li {
    font-size: 0.7em;
  }
  .blob {
    width: 12em;
    height: 12.5em;
  }
}

@media (max-width: 600px) {
  .custom-card {
    width: 10.5em;
    height: 13em;
  }
  .bg {
    width: 12em;
    height: auto;
  }
  .bg h6 {
    font-size: auto;
  }
  .bg strong,
  span,
  li {
    font-size: 0.7em;
  }
  .blob {
    width: 2em;
    height: 4.5em;
  }
}

@media (max-width: 425px) {
  .custom-card {
    width: 7.5em;
    height: 10.5em;
  }
  .bg {
    width: 7.5em;
    height: auto;
  }
  .bg h6 {
    font-size: 0.7em;
  }
  .bg strong,
  span,
  li {
    font-size: 0.5em;
  }
  .blob {
    width: 3em;
    height: 3em;
  }
}
