.weather-container {
  text-align: center; /* Centra el contenido en todas las pantallas */
  font-size: small;
}

@media (max-width: 576px) {
  .weather-container h6 {
    font-size: 0.5rem; /* Tamaño de fuente más grande para h6 en pantallas pequeñas */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
